<body>
<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a [routerLink]="['/']" class="header-logo logo">
        <img class="logo-img" src="assets/img/logo.png" width="40" alt="Bookstore">
        <span class="logo-text">ProductStore</span>
      </a>
      <ul class="header-list list">
        <li class="list-item"><a [routerLink]="['/home']" class="list-link">Home</a></li>
        <li class="list-item"><a [routerLink]="['/products']" class="list-link">Products</a></li>
        <li class="list-item"><a [routerLink]="['/about']" class="list-link">About</a></li>
      </ul>
    </nav>
  </div>
</header>
<main class="main container">
  <div class="spinner" *ngIf="loading">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
  </div>
  <router-outlet></router-outlet>
</main>
<footer class="footer container">
  <div class="footer-row">
    <p>Spinner template - <a href="https://loading.io/css/" class="footer-link">https://loading.io/css/</a></p>
    <p class="footer-copyright">Copyright © 2022. All Rights Reserved By ProductStore</p>
  </div>
</footer>
</body>
