<section class="home">
  <h2 class="section-title">Home</h2>
  <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, assumenda, deserunt dicta, doloremque eaque id inventore minus officiis sunt suscipit unde voluptatem. Corporis cum dolore doloribus eligendi quam sint veniam?</span><span>Ab asperiores autem distinctio dolorem ex fuga id inventore iure laudantium, nihil non quibusdam quis saepe sapiente soluta sunt temporibus vel voluptatum. Accusantium, at cumque deleniti fugiat omnis porro voluptatum!</span></p>
</section>
